<section class="abstract" id="post">
  <article>
    <%= render_post('community') %>
  </article>
</section>

<section class="concrete">
  <article class="maintainers">
    <%= render_post('maintainers') %>
  </article>
</section>
