<section class="abstract" id="post">
  <article class="blog">
    <%= render_post(@post) %>
  </article>
</section>

<section class="concrete">
  <article><%= render_post('posts') %></article>
</section>
